<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Sightings</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1 class="text-dark">Sightings</h1>
                </div>
            </div>
            <!--            menu bar-->
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="/" class="btn btn-outline-primary btn-lg">Home</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sighting</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organization</a>
                </div>
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Hero</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Location</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superpower" class="btn btn-outline-primary btn-lg">Superpower</a>
                </div>
            </div>
            <!--            menu bar-->



            <!--            errors-->
            <!--            <div class="col-12 m-1 text-center" 
                             th:if="${!errors.isEmpty()}">
                            <p class="alert alert-danger" th:each="error : ${errors}" 
                               th:text="${error.message}">Error message</p>
                        </div>-->
            <!--            errors-->


            <!--            add superpower -->
            <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Sighting</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="updateSighting" method="POST">


                        <div class="form-group row">
                            <label for="SightingDate" class="col-4 col-form-label">
                                Sighting Date </label>
                            <div class="col-8">
                                <input type="date" id="SightingDate" 
                                       th:placeholder="${sighting.SightingDate}"
                                       name="SightingDate" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="SightingDescription" class="col-4 col-form-label">
                                Description </label>
                            <div class="col-8">
                                <input type="text" name="SightingDescription" 
                                       th:placeholder="${sighting.SightingDescription}"
                                       id="SightingDescription" class="form-control"/>
                            </div>
                        </div>




                        <div class="form-group row">
                            <label for="HeroID" class="col-4 col-form-label">
                                Members :
                            </label>
                            <div class="col-8">
                                <select id="HeroID" name="HeroID" class="form-control" >
                                    <option th:each="hero : ${heroes}"
                                            th:value="${hero.HeroID}"
                                            th:text="${hero.HeroName}">
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="LocationId" class="col-4 col-form-label">
                                Location :
                            </label>
                            <div class="col-8">
                                <select id="LocationId" name="LocationId" class="form-control" >
                                    <option th:each="location : ${locations}"
                                            th:value="${location.LocationId}"
                                            th:text="${location.LocationName}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <input type="hidden" 
                               name="SightingID" 
                               th:value="${sighting.SightingID}">
                        </input>


                        <button type="submit" class="btn btn-primary">Update Sighting</button>
                    </form>
                </div>
            </div>




        </div> 
        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>;



